package {{packages}}

import java.io.Serializable;
import javax.validation.constraints.*;

/**
 *
 * @author Cobiscorp
 */
public class {{classname}} {

      {{#constants}}
       {{&.}}
      {{/constants}}


}