package com.cobiscorp.accl.messagetransformation.bsl.impl;

import com.cobiscorp.accl.messagetransformation.bsl.dto.*;
import com.cobiscorp.accl.messagetransformation.bsl.impl.equivalence.*;
import com.cobiscorp.messagetransformation.bsl.dto.CanonicalReceiveOrder;

/**
 * Representation of the transformation to {{stype}} into {{ttype}}
 *
 * @author Cobiscorp
 */
public class {{className}}
implements ITransformation<{{stype}}, {{ttype}}> {

    private {{stype}} s;

    public {{className}}({{stype}} s){
        this.s = s;
    }

    /**
    * Execute transformation to {{stype}} into {{ttype}}
    * @param s {{stype}}
    * @return {{ttype}}
    */
	@Override
    public {{ttype}} transform() {

		return {{ttype}}
				.new{{ttype}}()
				{{#builders}}
				{{&.}}
				{{/builders}}
				.build();

    }


}
